pytorch_lightning==1.9.0
Pillow==10.0.0
opencv-python
transformers
taming-transformers-rom1504 
tqdm
numpy==1.23.1
kornia
webdataset
omegaconf
einops
scikit-image
pymcubes
carvekit-colab
trimesh
easydict
tensorboard
spconv-cu113
imageio-ffmpeg==0.4.7
git+https://github.com/openai/CLIP.git
mediapipe
face_alignment
chumpy
onnxruntime==1.13.1
insightface==0.7
gdown
torchmetrics[image]
lpips